@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Prompt');

body {
  height: 100vh;
  margin: 0px;
  font-family: 'Prompt', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'Fredoka One', cursive;
  margin: 5px 0;
}

input {
  border-radius: 5px;
  flex-grow: 1;
  font-size: 1em;
  height: 40px;
}

label {
  font-size: 1.2em;
}

ul {
  list-style: none;
  -webkit-padding-start: 0px;
}

.hide {
  display: none;
}



/* bitmoji cards */

.bitmoji-card {
  background-color: #FFF564;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 200px;
}

.bitmoji-card > img {
  height: 200px;
}

.bitmoji-card li {
  cursor: pointer;
}

.bitmoji-card li span:hover {
  font-weight: bold;
}

.bitmoji-preview {
  border-bottom: 1px solid black;
  opacity: 1;
  transition: opacity 0.3s;
}

.bitmoji-preview[data-src] {
  opacity: 0;
}

.icon {
  height: 1em;
}

.tag {
  display: flex;
  justify-content: space-between;
}

.tag-arrow {
  align-self: center;
}

.tags {
  height: calc(100% - 220px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px;
}

@media screen and (max-width: 767px) {
  .bitmoji-card {
    width: 150px;
  }

  .bitmoji-card > img {
    height: 150px;
  }
}


/* button */

.btn {
  background: #fff241;
  border: 1px solid #ff7a1e;
  border-radius: 10px;
  font-size: 1em;
  font-family: 'Fredoka One', cursive;
  height: 40px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.btn:hover {
  background: #FFC76B;
}

/* header + display controls */

.bitmoji-selector {
  display: flex;
  grid-area: selector;
  justify-content: space-between;
  padding: 10px;
}

.display {
  align-items: center;
  display: flex;
  grid-area: display;
  justify-content: space-evenly;
}

.display-radio {
  align-items: center;
  display: flex;
}

.header {
  background: #fff241;
  background: -webkit-linear-gradient(to bottom, #fff241, #ff7a1e);
  background: linear-gradient(to bottom, #fff241, #ff7a1e);
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: 20px 10px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header {
    display: flex;
    justify-content: center;
  }
}

.search {
  display: flex;
  grid-area: search;
  justify-content: space-between;
  padding: 10px;
}


/* main content */

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "display search search"
    ". selector selector"
    "results results results";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto min-content auto;
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.load-image {
  animation: fade-in infinite 3s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.load-screen {
  display: grid;
  grid-template-areas:
    "header"
    "loader";
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
}

.bitmoji-list, .no-results {
  grid-area: results;
}

.bitmoji-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-results {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: loader;
  margin: 15px;
  text-align: center;
}


/* tooltips */

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  background-color: #5E48B5;
  border-radius: 6px;
  color: #fff;
  padding: 8px;
  pointer-events: none;
  position: absolute;
  right: 100%;
  text-align: center;
  visibility: hidden;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}


.tooltip .tooltip-text::after {
  border-color: transparent transparent transparent #5E48B5;
  border-style: solid;
  border-width: 10px;
  content: " ";
  left: 100%;
  position: absolute;
  top: 5%;
}

