@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Prompt');

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Prompt', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Fredoka One', cursive;
}

input {
  font-size: 1em;
  border-radius: 5px;
}

label {
  font-size: 1.2em;
}

ul {
  list-style: none;
  -webkit-padding-start: 0px;
}

.bitmoji-card {
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  background-color: #FFF564;
}

.bitmoji-card > img {
  height: 200px;
}

.bitmoji-card li {
  cursor: pointer;
}

.bitmoji-card li:hover {
  font-weight: bold;
}

.tags {
  height: calc(100% - 220px);
}

.bitmoji-preview {
  opacity: 1;
  transition: opacity 0.3s;
  border-bottom: 1px solid black;
}

.bitmoji-preview[data-src] {
  opacity: 0;
}

.load-image {
  animation: rotate-image infinite 10s linear;
}

@keyframes rotate-image {
  from {transform: rotate(10deg);}  
  to {transform: rotate(-10deg);}
}


/* button */

.btn {
  background: #fff241;
  border: 1px solid #ff7a1e;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
  font-family: 'Fredoka One', cursive;
  padding: 10px;
}
.btn:hover {
  background: #FFC76B;
}

/* spacing */

.margin-m {
  margin: 10px;
}

.margin-ta {
  margin-top: auto;
}

.center-text {
  text-align: center;
}

/* css grid */

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "radio search selector"
    ". url ."
    "results results results";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr auto;
}

.load-screen {
  display: grid;
  grid-template-areas:
    "header"
    "loader"
    "results";
  grid-template-columns: auto;
  grid-template-rows: 1fr auto auto;
}

.loader {
  grid-area: loader;
  margin: 15px;
}

.header {
  grid-area: header;
  background: #fff241;
  background: -webkit-linear-gradient(to bottom, #fff241, #ff7a1e);
  background: linear-gradient(to bottom, #fff241, #ff7a1e);
}

.radio {
  grid-area: radio;
}

.search {
  grid-area: search;
}

.url-form {
  grid-area: url;
}

.bitmoji-selector {
  grid-area: selector;
}

.bitmoji-list, .no-results {
  grid-area: results;
}


/* flexbox */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.center-cross {
  align-items: center;
}

.center-self {
  justify-self: center;
}

.center-self-cross {
  align-self: center;
}

.space-between {
  justify-content: space-between;
}

.grow-1 {
  flex-grow: 1;
}
